## required for consumer
export CONSUMER_TYPE="confluent-kafka"
export CONSUMER_PLUGIN_PATH=$(pwd)"/tests/consumer.so" ## only required if CONSUMER_TYPE=plugin

## required for transformer
export TRANSFORMER_TYPE="kubernetes-kafka-log"
export TRANSFORMER_PLUGIN_PATH=$(pwd)"/tests/transformer.so" ## only required if TRANSFORMER_TYPE=plugin

## required for producer
export PRODUCER_TYPE="confluent-kafka"
export PRODUCER_BOOTSTRAP_SERVERS="127.0.0.1:6667"
export PRODUCER_KAFKA_TOPIC_LABEL="app"
export PRODUCER_PLUGIN_PATH=$(pwd)"/tests/producer.so" ## only required if producer picked is a plugin

## required by instrumentation
export NEWRELIC_APP_NAME="ogi-test"
export NEWRELIC_LICENSE_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

## required by logging
export LOG_LEVEL="info"

## ONLY required for consumer:confluent-kafka
export CONSUMER_KAFKA_TOPICS="bulk-topic"
export CONSUMER_BOOTSTRAP_SERVERS="127.0.0.1:6667"
export CONSUMER_GROUP_ID="ogi-id"
export CONSUMER_SESSION_TIMEOUT_MS="6000"
export CONSUMER_GOEVENTS_CHANNEL_ENABLE="true"
export CONSUMER_GOEVENTS_CHANNEL_SIZE="1000"
export CONSUMER_GO_APPLICATION_REBALANCE_ENABLE="true"

## ONLY required for transformer::kubernetes-kafka-log
export PRODUCER_KUBERNETES_TOPIC_LABEL="app" ## default is 'app'

## ONLY required for tests
export CONSUMER_BAD_PLUGIN_PATH="/tmp/this-should-not-exist/noconsumer.so"
export PRODUCER_BAD_PLUGIN_PATH="/tmp/this-should-not-exist/noproducer.so"
export TRANSFORMER_BAD_PLUGIN_PATH="/tmp/this-should-not-exist/notransformer.so"
