## required for consumer
export CONSUMER_TYPE="tcp-server"
export CONSUMER_PLUGIN_PATH=$(pwd)"/tests/consumer.so" ## only required if CONSUMER_TYPE=plugin

## required for transformer
export TRANSFORMER_TYPE="transparent"
export TRANSFORMER_PLUGIN_PATH=$(pwd)"/tests/transformer.so" ## only required if TRANSFORMER_TYPE=plugin

## required for producer
export PRODUCER_TYPE="echo"
export PRODUCER_PLUGIN_PATH=$(pwd)"/tests/producer.so" ## only required if producer picked is a plugin

## required by instrumentation
export NEWRELIC_APP_NAME="ogi-test"
export NEWRELIC_LICENSE_KEY="xxx--change-it--to-your-valid-value--xxx"

## required by logging
export LOG_LEVEL="info"

## ONLY required for tests
export CONSUMER_BAD_PLUGIN_PATH="/tmp/this-should-not-exist/noconsumer.so"
export PRODUCER_BAD_PLUGIN_PATH="/tmp/this-should-not-exist/noproducer.so"
export TRANSFORMER_BAD_PLUGIN_PATH="/tmp/this-should-not-exist/notransformer.so"
